doctype html
head
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    // Bootstrap CSS
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We' crossorigin='anonymous')
    link(rel='stylesheet' href='/css/style.css' type='text/css')
    script(src='/js/jquery/jquery.min.js')
    // Font
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Alumni+Sans&family=Fredericka+the+Great&family=Piedra&family=Raleway+Dots&display=swap' rel='stylesheet')
    title Projeto Negritude
    script(src='/js/carousel.js')
    script(src='/js/util.js')
    include header.pug
#Slide

    main

        br
        br
        #formGeral.container.d-flex.flex-column.col-md-6
            .container
                h2  Equipe Negritude em Debate
            .tab-content
                .holder
                    .card
                        .card.text-center
                            .card-header
                                img.avatar(src='/img/equipe/fabio.png' alt='fabio' style='border-radius: 100%; width: 250px;  border: 1px solid rgb(123, 123, 123);')
                            .card-body
                            h5.card-title Fábio Luiz Faria da Silva
                            p.card-text
                                |Possui graduação em Engenharia da Computação, especialização em Docência e Licenciatura Pedagógica em História. Atualmente é professor efetivo no IFMS na área de Desenvolvimento/Desenvolvimento Web e membro do NEABI. É ativista em movimentos sociais e amante das artes, em especial, a música.
                .holder
                    .card
                        .card.text-center
                            .card-header
                                img.avatar(src='/img/equipe/Ana Paula.jpeg' alt='Ana Paula' style='border-radius: 100%; width: 250px;  border: 1px solid rgb(123, 123, 123);')
                            .card-body
                            h5.card-title Ana Paula Archanjo Batarce
                            p.card-text
                                |Ana Paula Archanjo Batarce, mulher, preta, mãe, feminista, sindicalista, pesquisadora, professora e doutora em Geografia. Trabalha na Universidade Federal do Mato Grosso do Sul. Militante da luta antirracista e apaixonada pela diáspora Africana, pela população afro-brasileira e sua diversidade. Coordenadora do projeto de extensão Negritude em Debate.
                .holder
                    .card
                        .card.text-center
                            .card-header
                                img.avatar(src='/img/equipe/Cafola.jpg' alt='Cafola' style='border-radius: 100%; width: 250px;  border: 1px solid rgb(123, 123, 123);')
                            .card-body
                            h5.card-title  Diego Aparecido Cafola
                            p.card-text
                                |Cafola tem experiência como docente do Ensino Médio em escola rural (CEPA), em projetos para utilização dos recursos naturais como acréscimo na subsistência (UFMS) nas comunidades rurais (ribeirinhos, quilombolas e assentamentos) no Mato Grosso do Sul (MS) e com pesquisa dentro das Unidades de Conservação (UC) pelo Centro de Estudos em Meio Ambiente, Áreas Protegidas e Desenvolvimento Sustentável (CEMAP/UEMS). Desde 2016 trabalha como pesquisadora cultural, utilizando a perspectiva decolonial no direcionamento da encruzilhada entre gênero, sexo, raça e classe de sujeitos subalternizados. Tem graduação em Turismo e História, especialista em História da América e Mestre em Estudos Culturais.
                .holder
                    .card
                        .card.text-center
                            .card-header
                                img.avatar(src='/img/equipe/Thamires.jpeg' alt='Thamires' style='border-radius: 100%; width: 250px;  border: 1px solid rgb(123, 123, 123);')
                            .card-body
                            h5.card-title  Thamires
                            p.card-text
                                |Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum..
                .holder
                    .card
                        .card.text-center
                            .card-header
                                img.avatar(src='/img/equipe/Francisco.jpeg' alt='Francisco' style='border-radius: 100%; width: 250px;  border: 1px solid rgb(123, 123, 123);')
                            .card-body
                            h5.card-title   Francisco Givanildo dos Santos
                            p.card-text
                                |Professor da Educação Básica (Estadual e Municipal), há 27 anos. Formado em Licenciatura Plena em História, Especialização em História da América Latina e Mestrado em Educação. Representante sindical de base e atuante na luta da categoria pela valorização profissional e militante dos movimentos sociais, em especial na pauta dos direitos humanos.

                .holder
                    .card
                        .card.text-center
                            .card-header
                                img.avatar(src='/img/equipe/Alessandro.jpeg' alt='Alessandro' style='border-radius: 100%; width: 250px;  border: 1px solid rgb(123, 123, 123);')
                            .card-body
                            h5.card-title   Alessandro Riquelme Ribeiro
                            p.card-text
                                |Alessandro Riquelme Ribeiro &eacute; oriundo de bairro perif&eacute;rico da capital e trabalha como servidor p&uacute;blico federal do Instituto Federal de Educa&ccedil;&atilde;o, Ci&ecirc;ncia e Tecnologia de Mato Grosso do Sul, exercendo a fun&ccedil;&atilde;o de T&eacute;cnico em Audiovisual no Campus Campo Grande. Tamb&eacute;m &eacute; professor de Capoeira desde 2014 e participa do F&oacute;rum Estadual para Salvaguarda da Capoeira de Mato Grosso do Sul. Ocupa cadeira de suplente no Conselho Municipal dos Direitos do Negro, ligado ao gabinete da Prefeitura Municipal de Campo Grande. Membro do NEABI IFMS Campus Campo Grande onde realiza atividades de apoio aos eventos e iniciativas diversas. Participa do Grupo de Estudos Tereza de Benguela. Acredita na constru&ccedil;&atilde;o de uma sociedade mais humanit&aacute;ria e justa, que trate de seus cidad&atilde;os com equidade e promova oportunidade para todos. &Eacute; contra o racismo, homofobia, misoginia, machismo e qualquer tipo de  preconceito contra o ser humano. Mote: &quot;Se nos respeitarmos como pessoas, t&iacute;tulos ser&atilde;o mera formalidade!&quot;

                .holder
                    .card
                        .card.text-center
                            .card-header
                                img.avatar(src='/img/equipe/Jussara.jpeg' alt='Jussara' style='border-radius: 100%; width: 250px;  border: 1px solid rgb(123, 123, 123);')
                            .card-body
                            h5.card-title   Jussara Leão Balbueno
                            p.card-text
                                |Jussara Leão Balbueno. Graduada em Letras-UFMS/CPAQ, mestranda em Estudos Culturais-PPGCult/UFMS, membro do grupo de pesquisa Lindecult-PPGCult/UFMS, membro Neabi-IFMS/Aquidauana, membro do projeto Negritude em Debate.
                .holder
                    .card
                        .card.text-center
                            .card-header
                                img.avatar(src='/img/equipe/Roberto.jpeg' alt='Roberto' style='border-radius: 100%; width: 250px;  border: 1px solid rgb(123, 123, 123);')
                            .card-body
                            h5.card-title   Roberto Pereira de Freitas Neto
                            p.card-text
                                |Meu nome é Roberto Pereira de Freitas Neto, mas todo mundo me chama só de Neto. Tenho 15 anos e estou cursando Informática lá no IFMS. Sou bolsista do projeto Negritude em Debate, no qual faço parte da equipe de produção audiovisual. Também faço pesquisas sobre os quilombolas aqui do MS e ajudo o projeto no que puder aqui =).
                .holder
                    .card
                        .card.text-center
                            .card-header
                                img.avatar(src='/img/equipe/Sabrina.png' alt='Sabrina' style='border-radius: 100%; width: 250px;  border: 1px solid rgb(123, 123, 123);')
                            .card-body
                            h5.card-title  Sabrina
                            p.card-text
                                |Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum..
                .holder
                    .card
                        .card.text-center
                            .card-header
                                img.avatar(src='/img/equipe/Eliane.jpeg' alt='Eliane' style='border-radius: 100%; width: 250px;  border: 1px solid rgb(123, 123, 123);')
                            .card-body
                            h5.card-title   Eliane Cristina de Sá
                            p.card-text
                                |Eliane Cristina de Sá. Acadêmica em Geografia licenciatura-UFMS/CPAQ, ilustradora, membro do projeto Negritude em debate MS.










// Optional JavaScript; choose one of the two!
// Option 1: Bootstrap Bundle with Popper
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js' integrity='sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj' crossorigin='anonymous')
// Option 2: Separate Popper and Bootstrap JS
script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js' integrity='sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp' crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js' integrity='sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/' crossorigin='anonymous')
script(src='/js/form.js ')
br
br
br
br
include footer.pug