doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  // Bootstrap CSS
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We' crossorigin='anonymous')
  link(rel='stylesheet', href='/css/style.css', type='text/css')
  script(src='/js/jquery/jquery.min.js')
  // Font
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Alumni+Sans&family=Fredericka+the+Great&family=Piedra&family=Raleway+Dots&display=swap' rel='stylesheet')
  title Projeto Negritude
  script(src='/js/carousel.js')
  script(src='/js/util.js')
include header.pug

#Slide

    main

    br
    br
    #formGeral.container.d-flex.flex-column.col-md-6
      .container
        h2  Negritude em Debate
      .tab-content
        .holder
          .card.text-center
            .card-header
              | Destaque
            .card-body
              h5.card-title Projeto Negritude
              img.avatar(src='/img/1.png' alt='Logo' style='border-radius: 100%; width: 250px;  border: 1px solid rgb(123, 123, 123);')
              p.card-text
                | O projeto &ldquo;Negritude em Debate MS&rdquo; (Cpaq/UFMS &ndash; Neabi/IFMS/CG) tem objetivo contribuir para reflex&atilde;o, para valoriza&ccedil;&atilde;o da cultura negra no Mato Grosso do Sul, assim como, contribuir para o desenvolvimento da tem&aacute;tica &quot;Hist&oacute;ria da &Aacute;frica e Cultura Afro-brasileira&quot; nas escolas da rede b&aacute;sica de ensino, nos Institutos Federais do Mato Grosso do Sul (IFMS) e na Universidade Federal do Mato Grosso do Sul (UFMS). Para isso, elaborar material audiovisual para ser trabalhado nas institui&ccedil;&otilde;es p&uacute;blicas (rede b&aacute;sica de ensino, IFMS e UFMS); Dialogar com os professores por meio de oficinas/cursos/palestras e outras atividades que estejam ligadas ao tema da ra&ccedil;a e do g&ecirc;nero. Dentre elas, a mostra fotogr&aacute;fica intitulada &ldquo;Beleza Negra Resiste&rdquo;, oficina de pintura org&acirc;nica e Oficina pedag&oacute;gica. O foco do material audiovisual &eacute; de trabalhar com as Comunidades Quilombolas de Mato Grosso do Sul, entre elas, Comunidade Negra Rural Quilombola da Furna dos Baianos (Aquidauana/MS), a Comunidade Remanescente de Quilombos Tia Eva (CG) e a Furnas do Dion&iacute;sio (CG).
              a.btn.btn-primary(href='https://youtu.be/B16z2gs6Fn8 ') Visitar
            .card-footer.text-muted
              | 2 dias atr&aacute;s
        .holder
            .card
             .card.text-center
                .card-header
                    video(src='/video/Amostra2020.mp4' style='width: 100%;' controls='')
                .card-body
                    h5.card-title Mostra Fotogr&aacute;fica Beleza Negra Resiste 2020
                    p.card-text
                    | O projeto tem como objetivo visibilizar corporeidades outras que se apresentam fora do padr&atilde;o est&eacute;tico europeu, como a beleza, a cultura e a ancestralidade negra existentes no Mato Grosso do Sul e que foram historicamente apagadas. Permitindo com isso que esses sujeitos sociais, negras e negros, se auto identifiquem e consigam romper com as estruturas col&ocirc;nias e racistas que persistem ainda no s&eacute;culo XXI.
                    a.btn.btn-primary(href='https://www.youtube.com/watch?v=SBe5tBAVY_Y') Visitar
        .holder
            .card
             .card.text-center
                .card-header
                    video(src='https://www.youtube.com/watch?v=GrmVEbrWBic&list=PLPmBgyx5tw_0l4OGgO1UKJl00HVLxVtqj&index=5' style='width: 100%;' controls='')
                .card-body
                    h5.card-title  Palestras, oficinas e capacitação antirracista 
                    p.card-text
                    | Como um dos direcionamentos do projeto é o diálogo com/na comunidade escolar, além das atividades externas à escola, como a Mostra fotográfica e o documentário, nossa equipe também se disponibiliza para dialogar diretamente com alunos e/ou professores e coordenadores por meio de palestras, oficinas e capacitações voltadas para educação antirracista.

                    a.btn.btn-primary(href='https://www.youtube.com/watch?v=GrmVEbrWBic&list=PLPmBgyx5tw_0l4OGgO1UKJl00HVLxVtqj&index=5') Visitar
        .holder
            .card
                .card.text-center
                    .card-header
                        #carouselExampleControls.carousel.slide(data-ride='carousel')
                            .carousel-inner
                                .carousel-item.active
                                    img.d-block.w-100(src='/img/2019 Semana da Consciência Negra/1.jpg' alt='...')
                                .carousel-item
                                    img.d-block.w-100(src='/img/2019 Semana da Consciência Negra/2.jpg' alt='...')
                                .carousel-item
                                    img.d-block.w-100(src='/img/2019 Semana da Consciência Negra/3.jpg' alt='...')
                                .carousel-item
                                    img.d-block.w-100(src='/img/2019 Semana da Consciência Negra/4.jpg' alt='...')
                                a.carousel-control-prev(href='#carouselExampleControls' role='button' data-slide='prev')
                                span.carousel-control-prev-icon(aria-hidden='true')
                                span.sr-only Previous
                                a.carousel-control-next(href='#carouselExampleControls' role='button' data-slide='next')
                                span.carousel-control-next-icon(aria-hidden='true')
                                span.sr-only Next
                    .card-body
                        h5.card-title Semana da Consciência Negra 
                        p.card-text
                        |As atividades propostas na Semana da Consciência Negra objetivam evidenciar a cultura, a história e sobretudo as tantas lutas do povo negro. O evento traz rodas de conversa, palestras, teatro, música, dança e principalmente, agregado a tudo isso, informação e conscientização.
                        a.btn.btn-primary(href='https://www.facebook.com/media/set/?vanity=negritudeemdebatems&set=a.398413992012099') Visitar     

// Optional JavaScript; choose one of the two!
// Option 1: Bootstrap Bundle with Popper
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js' integrity='sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj' crossorigin='anonymous')
// Option 2: Separate Popper and Bootstrap JS
script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js' integrity='sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp' crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js' integrity='sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/' crossorigin='anonymous')
script(src='/js/form.js ')
br
br
br
br
include footer.pug