  include headerLogado.pug

block css
  link(rel="stylesheet" href="styles/relatorio.css" type="text/css")

block main 
  main 
    h1 Relatório - Álbum Digital

    each albuns in data
      .register-row
        figure
          img(alt="photo.png", src=`uploads/${albuns.dataValues.nome_foto}`)
          figcaption: b=albuns.dataValues.titulo_foto
        ul 
          li
            b Nome: 
            = albuns.dataValues.nome
          if albuns.dataValues.cpf_responsavel
            if albuns.dataValues.cpf 
              li
                b CPF: 
                = albuns.dataValues.cpf 
            li
              b Responsavel: 
              = albuns.dataValues.nome_responsavel
            li
              b CPF do Responsavel: 
              = albuns.dataValues.cpf_responsavel
          else 
            li
              b CPF: 
              = albuns.dataValues.cpf
          li 
            b Telefone: 
            = albuns.dataValues.tel_whats
          li 
            b Email:  
            = albuns.dataValues.email
          li 
            b Cidade:  
            = albuns.dataValues.cidade
          li 
            b Data de Nascimento:  
            = albuns.dataValues.data_nascimento
          li 
            b Criado as: 
            = albuns.dataValues.createdAt 
          li Frase
          li Autorização

include footer.pug
